@primary-color: #03A9F4;
@primary-text-color: #fff;
@secundary-color: #fff;
@secundary-text-color: #333;
@alternate-color: #FF4081;
@alternate-text-color: #fff;
@defaul-padding: 1rem;
@base-4: 1rem;
@base-2: (@base-4 / 2);

//Responsivo
@breakResolutions: {
    tablet: 720px;
    desktop: 1025px;
}

@import "header.less";
@import "main.less";
@import "utilities.less";
@import "grid.less";